.styled-table {
    border-collapse: separate;
    margin: 25px 0 0 500px;
    font-size: 1.0em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    list-style-type: none;
}

.styled-table thead tr {
    background-color: #40a9ff;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    margin-left: 20%;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #40a9ff;
    width: 70%;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #40a9ff;
}

.list-group-item{
    min-width:50% ;
}

.list-group-item{
    list-style-type: none;
}

.display-4{
    background-color: #40a9ff;
    color: white;
}